{% extends 'ultimate_ladder/base.html' %}
	
{% block content %}
<h1>{{ game.league.name }} ( {{ game.creation_date }} ) </h1>

<div>
  <p><b>Creation date</b>:   {{game.creation_date}}</p>
  {% if game.completed %}
  <p><b>Completion date</b>:   {{game.completion_date}}</p>
  <p><b>Score A</b>:   {{game.score_team_a}}</p>
  <p><b>Score B</b>:   {{game.score_team_b}}</p>
  {% else %}
  <p><b>Ongoing game</b></p>
  {% endif %}
</div>

{% if game.completed == False %}

<form action="{% url 'game' league.id game.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

{% endif %}

<h2>Team A ({{ score_team_a }})</h2>
<ul>
  {% for team in team_a  %}
  <p>
    <a href="{% url 'player' team.player.id %}" class="{% if team.player.gender == 'f' %} woman {% else %} man {% endif %}">{{ team.player.name }} ( {{ team.player.score }} )</a></p>
  {% endfor %}
</ul>

<h2>Team B ({{ score_team_b }})</h2>
<ul>
  {% for team in team_b  %}
  <p><a href="{% url 'player' team.player.id %}" class="{% if team.player.gender == 'f' %} woman {% else %} man {% endif %}">{{ team.player.name }} ( {{ team.player.score }} )</a></p>
  {% endfor %}
</ul>

<a href="{% url 'delete-game' league.id game.id %}" class="logo">Delete Game</a>

{% endblock content %}
