{% extends 'ultimate_ladder/base.html' %}
	
{% block content %}

<H1>Leagues</H1>
{% if league_list %}
    <div>
    {% for league in league_list %}
        <p><a href="{% url 'league' league.id %}">{{ league.name }}</a></p>
    {% endfor %}
    </div>
    {% else %}
    <div>
      <p>No league available.</p>
    </div>
    {% endif %}

    <div>
      <a href="{% url 'add-league' %}" class="logo">Create League</a>
    </div>
    
<H1>Players</H1>
    {% if all_players %}
    <div>
    {% for player in all_players %}
        <p><a href="{% url 'player' player.id %}" class="{% if player.gender == 'f' %} woman {% else %} man {% endif %}">{{ player.name }}</a></p>
    {% endfor %}
    </div>
{% else %}
    <div>
      <p>
	No player.
      </p>
    </div>
{% endif %}

    <a href="{% url 'add-player' %}" class="logo">Create Player</a>

    {% endblock content %}
